<div class="page-content-wrapper">
	<div class="page-content">
		<div class="container-fluid container-fullw ">
			<div class="row" >
				<div class="portlet box white">
					<div class="portlet-body" style="min-height:375px">
						<div class="row">
							<div class="col-md-12">
		                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		                            <div class="dashboard-stat blue">
		                                <div class="visual">
		                                    <i class="fa fa-comments"></i>
		                                </div>
		                                <div class="details">
		                                    <div class="number">
		                                        <!-- <span data-counter="counterup" data-value="counters.prog_counter">0</span> -->
		                                        <span data-counter="counterup" data-value="">78</span>
		                                    </div>
		                                    <div class="desc"> Số phòng </div>
		                                </div>
		                                <a class="more" href="javascript:;"> View more
		                                    <i class="m-icon-swapright m-icon-white"></i>
		                                </a>
		                            </div>
		                        </div>
		                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		                            <div class="dashboard-stat red">
		                                <div class="visual">
		                                    <i class="fa fa-bar-chart-o"></i>
		                                </div>
		                                <div class="details">
		                                    <div class="number">
		                                        <span data-counter="counterup" data-value="">426</span> </div>
		                                    <div class="desc"> Số lượt đã duyệt </div>
		                                </div>
		                                <a class="more" href="javascript:;"> View more
		                                    <i class="m-icon-swapright m-icon-white"></i>
		                                </a>
		                            </div>
		                        </div>
		                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		                            <div class="dashboard-stat green">
		                                <div class="visual">
		                                    <i class="fa fa-shopping-cart"></i>
		                                </div>
		                                <div class="details">
		                                    <div class="number">
		                                        <span data-counter="counterup" data-value="">401</span>
		                                    </div>
		                                    <div class="desc"> Lượt đặt mới </div>
		                                </div>
		                                <a class="more" href="javascript:;"> View more
		                                    <i class="m-icon-swapright m-icon-white"></i>
		                                </a>
		                            </div>
		                        </div>
		                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		                            <div class="dashboard-stat purple">
		                                <div class="visual">
		                                    <i class="fa fa-globe"></i>
		                                </div>
		                                <div class="details">
		                                    <div class="number">
		                                        <span data-counter="counterup" data-value="">67%</span> </div>
		                                    <div class="desc"> Tỷ lệ sử dụng phòng </div>
		                                </div>
		                                <a class="more" href="javascript:;"> View more
		                                    <i class="m-icon-swapright m-icon-white"></i>
		                                </a>
		                            </div>
		                        </div>
							</div>
						</div>

	                    <div class="row" style="margin-top: 15px">
	                    	<div class="col-md-12">
		                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		                            <div class="dashboard-stat green-meadow">
		                                <div class="visual">
		                                    <i class="fa fa-comments"></i>
		                                </div>
		                                <div class="details">
		                                    <div class="number">
		                                        <span data-counter="counterup" data-value="">1023</span>
		                                    </div>
		                                    <div class="desc"> Lượt phản ánh  </div>
		                                </div>
		                                <a class="more" href="javascript:;"> View more
		                                    <i class="m-icon-swapright m-icon-white"></i>
		                                </a>
		                            </div>
		                        </div>
		                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		                            <div class="dashboard-stat purple-soft">
		                                <div class="visual">
		                                    <i class="fa fa-bar-chart-o"></i>
		                                </div>
		                                <div class="details">
		                                    <div class="number">
		                                        <span data-counter="counterup" data-value="">515</span> </div>
		                                    <div class="desc"> Số lượng thiết bị </div>
		                                </div>
		                                <a class="more" href="javascript:;"> View more
		                                    <i class="m-icon-swapright m-icon-white"></i>
		                                </a>
		                            </div>
		                        </div>
		                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		                            <div class="dashboard-stat blue-hoki">
		                                <div class="visual">
		                                    <i class="fa fa-shopping-cart"></i>
		                                </div>
		                                <div class="details">
		                                    <div class="number">
		                                        <span data-counter="counterup" data-value="">32</span>
		                                    </div>
		                                    <div class="desc"> Số thiết bị lỗi </div>
		                                </div>
		                                <a class="more" href="javascript:;"> View more
		                                    <i class="m-icon-swapright m-icon-white"></i>
		                                </a>
		                            </div>
		                        </div>
		                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		                            <div class="dashboard-stat yellow">
		                                <div class="visual">
		                                    <i class="fa fa-globe"></i>
		                                </div>
		                                <div class="details">
		                                    <div class="number">
		                                        <span data-counter="counterup" data-value="">732</span> </div>
		                                    <div class="desc"> Số ca trực </div>
		                                </div>
		                                <a class="more" href="javascript:;"> View more
		                                    <i class="m-icon-swapright m-icon-white"></i>
		                                </a>
		                            </div>
		                        </div>
	                    	</div>
	                    </div>
	                    <br>
	                    <div class="clearfix"></div>
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-6">
									<div class="portlet box blue">
										<div class="portlet-title padding-top-0 padding-bottom-0 min-height-40">
											<div class="caption">
												<i class="icon-list"></i>
												<span class="caption-subject bold uppercase">Danh sách đặt phòng</span>
											</div>
											<div class="actions padding-bottom-5">
												<!-- <div class="portlet-title padding-top-0 padding-bottom-0 min-height-40">
													<a class="btn btn-default" href="javascript:;">
														<i class="icon-eye-open" ng-click=""></i>Xem tất cả
													</a>
												</div> -->
											</div>
										</div>

										<div class="portlet-body" style="">
											<div class="" ng-show="current_test_sessions.length==0">
												<h4>Không có phản hồi nào</h4>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="portlet box green">
										<div class="portlet-title padding-top-0 padding-bottom-0 min-height-40">
											<div class="caption">
												<i class="icon-fire" style="color: red;"></i>
												<span class="caption-subject bold uppercase">Phản ánh gần đây</span>
											</div>
											<div class="actions padding-bottom-5">
												<!-- <div class="portlet-title padding-top-0 padding-bottom-0 min-height-40">
													<a class="btn btn-default" href="javascript:;">
														<i class="icon-eye-open" ng-click=""></i>Xem tất cả
													</a>
												</div> -->
											</div>
										</div>

										<div class="portlet-body" style="">
											<div class="" ng-show="current_test_sessions.length==0">
												<h4>Không có phản hồi nào</h4>
											</div>
											<!-- <div class="table-responsive"  ng-show="current_test_sessions.length>0">
												<table class="table table-striped table-bordered table-hover">
													<thead>
														<tr>
															<th></th>
															<th>Môn học</th>
															<th>Ca thi</th>
															<th>Đề thi</th>
															<th>Bắt đầu</th>
															<th>Kết thúc</th>
															<th>Thời lượng</th>
															<th>Giảng viên</th>
															<th>Lớp</th>
															<th>Tổ</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="q in current_test_sessions">
															<td>{{$index+1}}</td>
															<td>{{q.prog_item}} - {{q.prog_name}}</td>
															<td>{{q.title}}</td>
															<td>{{q.quiz_name}}</td>
															<td ng-class="{'cold': p.state == 'cold' , 'over': p.state == 'over', 'far': p.state == 'far',
					              'ongoing': p.state == 'ongoing', 'hot': p.state == 'hot' }">{{q.start}}</td>
															<td>{{q.end}}</td>
															<td>{{q.duration}} (phút)</td>
															<td>{{q.creator}}</td>
															<td width="5%">{{q.class_id}}</td>
															<td width="5%">{{q.group_id}}</td>
														</tr>	
													</tbody>
												</table>
											</div> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
